html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.box {
    width: 15rem;
    height: 15rem;
    background-color: cadetblue;
    border: 2px solid rgb(48, 82, 83);
    font-size: 2rem;
    font-weight: bold;

}

.awesome_box {
    animation: awesome-animation 1s infinite ease;
}

@keyframes awesome-animation {
    100% {
        filter: hue-rotate(360deg);
    }
}

.dotted_border {
    border-width: 10px;
    border-style: dotted;
}

.dark_mode {
    background-color: black;
}